* {
  box-sizing: border-box;
}

html,
body {
  background-color: white;
}

.parallax {
  -webkit-perspective: 100px;
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.parallax__layer header {
  position: absolute;
  max-width: 500px;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.parallax__cover {
  background: white;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(4.5);
  transform: translateZ(-300px) scale(4.5);
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-250px) scale(4);
  transform: translateZ(-250px) scale(4);
}

.parallax__layer__2 {
  -webkit-transform: translateZ(-170px) scale(3.5);
  transform: translateZ(-170px) scale(3.5);
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-100px) scale(3);
  transform: translateZ(-100px) scale(3);
}

.parallax__layer__4 {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.75);
  transform: translateZ(-50px) scale(1.75);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
  transform: translateZ(0px) scale(1);
}

@media only screen and (max-width: 992px) {
  .parallax__layer img {
    width: 130%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .parallax__layer img {
    width: 180%;
  }
}

/* Medium devices (phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .parallax__layer img {
    width: 200%;
  }
}

/* Small devices (phones, 300px and up) */
@media only screen and (max-width: 400px) {
  .parallax__layer img {
    width: 250%;
  }
}

/* Extra small devices (phones, 300px and up) */
@media only screen and (max-width: 300px) {
  .parallax__layer img {
    width: 300%;
  }
}
